.btn-launch-dapp {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #44B496;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #000238  ;
}