.header-container {
    background-image: url("./../Designs/bg-header.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer-container {
    background-image: url("./../Designs/bg-footer.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}