:root {
    --background-dark: #000a1c;
    ;

    // /* CUSTOMIZE SECTIONS OF THE CONNECT MODAL */
    --onboard-connect-sidebar-background: #1a1b1f;
    --onboard-connect-sidebar-color: #fff;
    --onboard-connect-sidebar-progress-background: #fff;
    --onboard-connect-sidebar-border-color: #0D0D0D;
    --onboard-connect-sidebar-progress-color: green;
    --onboard-connect-header-color: #fff;
    --onboard-main-scroll-container-background: #1a1b1f;
    --onboard-close-button-color: #fff;
    --onboard-wallet-button-background: #343A3F;
    --onboard-wallet-button-background-hover: #697077;
    --onboard-wallet-button-border-color: #0D0D0D;
    --border-color: #0D0D0D;
}